* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #18bc9c;
    justify-content: stretch;
    width: 35%;
    padding: 20px 0px;
}

#name {
    text-align: center;
    margin: 20px 0px;
    color: white;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.personal-info {
    color: white;
    margin: 5px 0px;
    font-size: 18px;
}

.contact-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 5px 0px;
    font-size: 18px;
}

.sidebar-section-title {
    background-color: white;
    color: rgb(94, 94, 94);
    width: 50%;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

#page {
    display: flex;
    height: 100%;
}

.main {
    width: 65%;
}

.main-section > p, .main-section > a {
    margin: 20px;
    text-align: justify;
}

.main-section > ul {
    margin: 40px;
}

.main-section-title {
    width: 100%;
    background-color: gainsboro;
    color: gray;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
}

.link {
    display: block;
    color: #18bc9c;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#google-ui-image {
    height: 225px;
}

#profile-picture {
    border-radius: 50%;
    position: relative;
    left: 100px;
    width: 250px;
    margin: 20px 0px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: gainsboro;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.button > a {
    text-decoration: none;
    text-align: center;
    color: black;
}